* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #131212;
}

.perfil-header {
    margin: 0 auto;
    width: 75%;
    height: 450px;
    background: rgb(1, 0, 13);
    background: linear-gradient(
        0deg,
        rgba(1, 0, 13, 1) 10%,
        rgba(24, 121, 9, 1) 100%,
        rgb(39, 56, 59) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px black;
    border-radius: 0 0 30px 30px;
}

.perfil-header img {
    border-radius: 50%;
    transform: scale(0.4);
}
.highlight {
    
    width: 65%;
    margin: 0 auto;
    background: rgb(1, 0, 13);
    background: linear-gradient(
        180deg,
        rgba(1, 0, 13, 1) 0%,
        rgba(24, 121, 9, 1) 70%,
        rgb(39, 56, 59) 100%
    );
}

.sobre {
    text-align: center;
    color: #fff;
}
h2.projetos{
    margin-top: 4em;
  text-align: center;
  color: #fff;
}

section.portfolio {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.c-card {
    width:230px;
    padding: 1rem;
    margin: 2rem;
    color: #fff;
    border: solid rgba(0, 0, 0, 0.363);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(138, 221, 82, 0.322);
    text-align: center;
   }
      
   .c-card h3 {
    padding: 0.5rem;
    font-size: 1.5rem;
   }
   
